<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="TwitchClientId" value="TWITCH_CLIENTID" />
    <add key="TwitchClientSecret" value="TWITCH_CLIENTSECRET" />
    <add key="TwitchScope" value="chat:read chat:edit channel:moderate whispers:read whispers:edit" />
    <add key="TwitchLocalUrl" value="http://localhost:65432/" />
  </appSettings>
</configuration>
